@(tokenId: String, passwordForm: Form[(String, String)])(implicit request: RequestHeader, messages:Messages)

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.mainAuth(Messages("reset.title"), tab = "signin") {
  @request.flash.get("error").map { msg =>
    @errors.alert(msg, "error")
  }
  @b3.form(routes.Auth.handleResetPassword(tokenId)) {
    <fieldset>
      <legend>@Messages("reset.legend")</legend>
      @helper.CSRF.formField
      
      @b3.password(passwordForm("password1"), 
        '_label -> Messages("reset.password"), 
        'placeholder -> Messages("reset.password"), 
        'autofocus -> true)
      
      @b3.password(passwordForm("password2"), 
        '_label -> Messages("reset.verifyPassword"), 
        'placeholder -> Messages("reset.verifyPassword"),
        '_error -> passwordForm.globalError)

      @b3.submit('class -> "btn btn-primary"){ @Messages("reset.reset") }
    </fieldset>
  }
}
