@(title: String, tab: String = "")(content: Html)(implicit messages:Messages)

@navbarContent = {
  <ul class="nav navbar-nav">
    <li><a href="@routes.Application.index">@Messages("navbar.index")</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="@("active".when(tab == "signin"))"><a href="@routes.Auth.signIn">@Messages("navbar.signin")</a></li>
    <li class="@("active".when(tab == "signup"))"><a href="@routes.Auth.startSignUp">@Messages("navbar.signup")</a></li>
  </ul>
}

@main(title, navbarContent)(content)
