@()(implicit messages:Messages)

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span id="profilePhoto"></span> @Messages("dialog.title")</h4>
      </div>
      <div class="modal-body">
        <div id="profileData" style="display:none"></div>
        <div id="profileError" style="display:none">
          <div class="alert alert-danger" role="alert"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
